// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green-color: #5cb85c;
body {
  color: #333;
}
.center {
  text-align: center;
}
.green-bg {
  background-color: $green-color;
}
.green-font {
  color: $green-color;
}
.set-to-top {
  margin-top: 0 !important;
}
.no-bottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.bottom-pad {
  padding-bottom: 1px;
  // position: fixed;
  // bottom:0;
  // left:0;
  // right:0
}
.header{
  position:fixed;
  top:0;
  right:0;
  left:0;
}
.footer {
  line-height: 10px;
  padding-top: 10px;
  color: #eee;
}
.header-nav li a, .header-nav.navbar-brand {
  color: #eee !important;
  &:hover, &:active, &:focus {
    background-color: #eee !important;
    color: $green-color !important;
  }
}
.header-nav li ul li a {
  color: #333 !important;
}
.pad-5 {
  padding-top: 5px;
}
.header-text {
  padding: 20px 0px;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
}

.img-logo {
  top: -45px !important;
  max-height: 100px !important;
  float: left;
  position: relative;
  margin: 0 10px;
}
table {
  border-collapse:collapse;

}
table td {
  border:solid 1px #fab;
  // min-width:20px;
  word-wrap:break-word;
}
@media screen and (max-width: 1000px) {
  table { table-layout: fixed; }
  table td { max-width: 300px; }
}
@media screen and (min-width: 1001px) {
  table { table-layout: relative; }
  table td { max-width: 300px; }
}
